.git
.gitignore
.venv
.idea
.vscode
__pycache__
*.py[cod]
.env
.env.*
!.env.postgres.example
!.env.development.example
backups
local_debug
temporary
node_modules
db.sqlite3
staticfiles
*.log
.pytest_cache
.ruff_cache
