.venv/
.idea/
__pycache__/
*.py[cod]
db.sqlite3
.env
staticfiles/
media/
*.log
.pytest_cache/
.ruff_cache/
/stich素材+html+png/
/node_modules/
/static/css/app.css
/.vscode/settings.json
/local_debug
/temporary